body{
	background-color: rgb(0,0,0);
	/*overflow: hidden; tira a barra de rolagem e fica fixa*/
}

h1{
	font-family: Chiller, arial;
	font-size: 80px;
	color: white;
}

h2{
	font-family: arial, Corbel;
	font-size: 20px;
	color: white;
}

h4{
	font-family: arial, Corbel;
	font-size: 10px;
	color: white;
}


